/* header */
.react-tabs__tab-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 0 0;
    margin: 0;
    background-color: var(--yellow);
}

/* content */
.react-tabs__tab-panel {
}

.fa {
    font-size: xxx-large;
    padding: 10px;
}

.react-tabs__tab {
    border-radius: 15px 15px 0 0;
    transition-duration: 350ms;
}

.react-tabs__tab--selected {
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: white;
    box-shadow: 0px -9px 4px -3px rgba(0, 0, 0, 0.4);
}
