/*Logo*/
.App h1 {
    background-color: var(--yellow);
    margin: 0;
    text-align: center;
}

/* header */
.react-tabs__tab-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 0 0;
    margin: 0;
    background-color: var(--yellow);
}

.react-tabs__tab {
    border-radius: 15px 15px 0 0;
    transition-duration: 350ms;
}

.react-tabs__tab[data-selected="true"] {
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: white;
    box-shadow: 0px -9px 4px -3px rgba(0, 0, 0, 0.4);
}

/* icons */
.fa {
    font-size: xxx-large;
    font-size: -webkit-xxx-large;
    padding: 10px;
    color: black;
}
