.package {
    padding: 5px;
    border-bottom: 1px solid rgb(177, 173, 173);
    cursor: pointer;
    text-decoration: none;
    grid-column-start: 2;
}

.package a{
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.delivery-status svg, .delivery-status img {
    padding-right: 5px;
}
.delivery-status {
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: var(--mobile-large-font);
}

.package-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    grid-column-gap: 10px;
}

.package-details-grid > div {
    padding-bottom: 1em;
}

.sub-header {
    font-size: var(--mobile-medium-font);
    color: var(--light-blue);
    font-style: normal;
}

div[data-pickup="false"]{
    color: grey;
    font-style: italic;
}

div[data-notes="false"]{
    color: grey;
    font-style: italic;
}

.go-back-header {
    display: flex;
    font-size: x-large;
    border-bottom: 1px solid var(--light-grey);
}

.back-button {
    margin-right: 15px;
    font-style: bold;
}

.page-container {
    display: grid;
    grid-template-columns:  1fr minmax(200px,800px) 1fr;
}

.package-grid {
    grid-column-start: 2;
}